<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- VNPay Configuration -->
  <add key="vnp_TmnCode" value="__VNP_TMN_CODE__" />
  <add key="vnp_HashSecret" value="__VNP_HASH_SECRET__" />
  <add key="vnp_Url" value="__VNP_PAYMENT_URL__" />
  <add key="vnp_ReturnUrl" value="__VNP_RETURN_URL__" />
  <add key="vnp_Version" value="2.1.0" />
  <add key="vnp_Command" value="pay" />
  <add key="vnp_CurrCode" value="VND" />
  <add key="vnp_Locale" value="vn" />

  <!-- PayPal Configuration -->
  <add key="PayPal:ClientId" value="__PAYPAL_CLIENT_ID__" />
  <add key="PayPal:Secret" value="__PAYPAL_CLIENT_SECRET__" />
  <add key="PayPal:Mode" value="Sandbox" />
</appSettings>
