USE [ValiModernDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_RecalculateProductSold]    Script Date: 25/11/2025 2:20:20 CH ******/
DROP PROCEDURE [dbo].[sp_RecalculateProductSold]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [CK_Users_Role]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [CK_Product_Sold_NonNegative]
GO
ALTER TABLE [dbo].[Payments] DROP CONSTRAINT [CK_Payments_Status]
GO
ALTER TABLE [dbo].[Payments] DROP CONSTRAINT [CK_Payments_Method]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [CK_Orders_Status]
GO
ALTER TABLE [dbo].[Sizes] DROP CONSTRAINT [FK_Sizes_Products]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_Products_Brands]
GO
ALTER TABLE [dbo].[Product_Images] DROP CONSTRAINT [FK_PImages_Products]
GO
ALTER TABLE [dbo].[Payments] DROP CONSTRAINT [FK_Payments_Orders]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK_Orders_Shipper]
GO
ALTER TABLE [dbo].[Order_Details] DROP CONSTRAINT [FK_OD_Sizes]
GO
ALTER TABLE [dbo].[Order_Details] DROP CONSTRAINT [FK_OD_Products]
GO
ALTER TABLE [dbo].[Order_Details] DROP CONSTRAINT [FK_OD_Orders]
GO
ALTER TABLE [dbo].[Order_Details] DROP CONSTRAINT [FK_OD_Colors]
GO
ALTER TABLE [dbo].[Colors] DROP CONSTRAINT [FK_Colors_Products]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_Users_Role]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__updated_a__3A81B327]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__created_a__398D8EEE]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__is_admin__38996AB5]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__is_act__571DF1D5]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__sold__5629CD9C]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__stock__5535A963]
GO
ALTER TABLE [dbo].[Product_Images] DROP CONSTRAINT [DF__Product_I__sort___5441852A]
GO
ALTER TABLE [dbo].[Product_Images] DROP CONSTRAINT [DF__Product_I__is_ma__534D60F1]
GO
ALTER TABLE [dbo].[Payments] DROP CONSTRAINT [DF__Payments__paymen__52593CB8]
GO
ALTER TABLE [dbo].[Payments] DROP CONSTRAINT [DF__Payments__status__5165187F]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__updated___5070F446]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__created___4F7CD00D]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__status__4E88ABD4]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__order_da__4D94879B]
GO
ALTER TABLE [dbo].[Order_Details] DROP CONSTRAINT [DF__Order_Det__creat__4CA06362]
GO
ALTER TABLE [dbo].[Order_Details] DROP CONSTRAINT [DF__Order_Det__quant__4BAC3F29]
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 25/11/2025 2:20:20 CH ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UQ_Users_Email]
GO
/****** Object:  Index [IX_Sizes_Product]    Script Date: 25/11/2025 2:20:20 CH ******/
DROP INDEX [IX_Sizes_Product] ON [dbo].[Sizes]
GO
/****** Object:  Index [IX_Products_Category]    Script Date: 25/11/2025 2:20:20 CH ******/
DROP INDEX [IX_Products_Category] ON [dbo].[Products]
GO
/****** Object:  Index [IX_Products_Brand]    Script Date: 25/11/2025 2:20:20 CH ******/
DROP INDEX [IX_Products_Brand] ON [dbo].[Products]
GO
/****** Object:  Index [IX_PImages_Product]    Script Date: 25/11/2025 2:20:20 CH ******/
DROP INDEX [IX_PImages_Product] ON [dbo].[Product_Images]
GO
/****** Object:  Index [IX_Payments_Status]    Script Date: 25/11/2025 2:20:20 CH ******/
DROP INDEX [IX_Payments_Status] ON [dbo].[Payments]
GO
/****** Object:  Index [IX_Payments_Order]    Script Date: 25/11/2025 2:20:20 CH ******/
DROP INDEX [IX_Payments_Order] ON [dbo].[Payments]
GO
/****** Object:  Index [IX_Orders_User]    Script Date: 25/11/2025 2:20:20 CH ******/
DROP INDEX [IX_Orders_User] ON [dbo].[Orders]
GO
/****** Object:  Index [IX_Orders_Status]    Script Date: 25/11/2025 2:20:20 CH ******/
DROP INDEX [IX_Orders_Status] ON [dbo].[Orders]
GO
/****** Object:  Index [IX_Orders_Shipper]    Script Date: 25/11/2025 2:20:20 CH ******/
DROP INDEX [IX_Orders_Shipper] ON [dbo].[Orders]
GO
/****** Object:  Index [IX_OrderDetails_ProductId_OrderId]    Script Date: 25/11/2025 2:20:20 CH ******/
DROP INDEX [IX_OrderDetails_ProductId_OrderId] ON [dbo].[Order_Details]
GO
/****** Object:  Index [IX_OD_Product]    Script Date: 25/11/2025 2:20:20 CH ******/
DROP INDEX [IX_OD_Product] ON [dbo].[Order_Details]
GO
/****** Object:  Index [IX_OD_Order]    Script Date: 25/11/2025 2:20:20 CH ******/
DROP INDEX [IX_OD_Order] ON [dbo].[Order_Details]
GO
/****** Object:  Index [IX_Colors_Product]    Script Date: 25/11/2025 2:20:20 CH ******/
DROP INDEX [IX_Colors_Product] ON [dbo].[Colors]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25/11/2025 2:20:20 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 25/11/2025 2:20:20 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Sizes]') AND type in (N'U'))
DROP TABLE [dbo].[Sizes]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 25/11/2025 2:20:20 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[Product_Images]    Script Date: 25/11/2025 2:20:20 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Product_Images]') AND type in (N'U'))
DROP TABLE [dbo].[Product_Images]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 25/11/2025 2:20:20 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Payments]') AND type in (N'U'))
DROP TABLE [dbo].[Payments]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 25/11/2025 2:20:20 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Orders]') AND type in (N'U'))
DROP TABLE [dbo].[Orders]
GO
/****** Object:  Table [dbo].[Order_Details]    Script Date: 25/11/2025 2:20:20 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Order_Details]') AND type in (N'U'))
DROP TABLE [dbo].[Order_Details]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 25/11/2025 2:20:20 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Colors]') AND type in (N'U'))
DROP TABLE [dbo].[Colors]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 25/11/2025 2:20:20 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Categories]') AND type in (N'U'))
DROP TABLE [dbo].[Categories]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 25/11/2025 2:20:20 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Brands]') AND type in (N'U'))
DROP TABLE [dbo].[Brands]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 25/11/2025 2:20:20 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Banners]') AND type in (N'U'))
DROP TABLE [dbo].[Banners]
GO
USE [master]
GO
/****** Object:  Database [ValiModernDB]    Script Date: 25/11/2025 2:20:20 CH ******/
DROP DATABASE [ValiModernDB]
GO
/****** Object:  Database [ValiModernDB]    Script Date: 25/11/2025 2:20:20 CH ******/
CREATE DATABASE [ValiModernDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ValiModernDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ValiModernDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ValiModernDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ValiModernDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ValiModernDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ValiModernDB]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 25/11/2025 2:20:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[image_url] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 25/11/2025 2:20:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[image_url] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 25/11/2025 2:20:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 25/11/2025 2:20:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[color_code] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Details]    Script Date: 25/11/2025 2:20:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [int] NOT NULL,
	[color_id] [int] NULL,
	[size_id] [int] NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 25/11/2025 2:20:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[order_date] [datetime2](0) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[total_amount] [bigint] NOT NULL,
	[phone] [nvarchar](20) NULL,
	[shipping_address] [nvarchar](500) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
	[shipper_id] [int] NULL,
	[assigned_at] [datetime2](0) NULL,
	[delivered_at] [datetime2](0) NULL,
	[delivery_note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 25/11/2025 2:20:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[amount] [bigint] NOT NULL,
	[payment_method] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[transaction_id] [nvarchar](200) NULL,
	[payment_date] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Images]    Script Date: 25/11/2025 2:20:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[image_url] [nvarchar](255) NOT NULL,
	[is_main] [bit] NOT NULL,
	[sort_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 25/11/2025 2:20:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[image_url] [nvarchar](255) NULL,
	[original_price] [int] NOT NULL,
	[price] [int] NOT NULL,
	[stock] [int] NOT NULL,
	[sold] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[brandId] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 25/11/2025 2:20:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sizes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25/11/2025 2:20:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[password] [nvarchar](255) NOT NULL,
	[is_admin] [bit] NOT NULL,
	[address] [nvarchar](500) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
	[role] [nvarchar](20) NULL,
 CONSTRAINT [PK__Users__3213E83FC4AFE5AA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Banners] ON 

INSERT [dbo].[Banners] ([id], [name], [image_url]) VALUES (1, N'balo banner', N'/Uploads/banners/balo-larita-1760666968-638984791309288032.jpg')
INSERT [dbo].[Banners] ([id], [name], [image_url]) VALUES (2, N'vali banner', N'/Uploads/banners/legend-walker-2-1758617498-638984791594588201.jpg')
INSERT [dbo].[Banners] ([id], [name], [image_url]) VALUES (3, N'khoai lang thang', N'/Uploads/banners/khoai-lang-thang-1754364439-638984792088532617.jpg')
SET IDENTITY_INSERT [dbo].[Banners] OFF
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([id], [name], [image_url]) VALUES (1, N'Heys', N'/Uploads/brands/thuong-hieu-heys-1674809492-638984844049458671.jpg')
INSERT [dbo].[Brands] ([id], [name], [image_url]) VALUES (2, N'Hydro Flask', N'/Uploads/brands/thuong-hieu-hydro-flask-1674802224-638984844289079222.jpg')
INSERT [dbo].[Brands] ([id], [name], [image_url]) VALUES (3, N'Simplecarry', N'/Uploads/brands/thuong-hieu-simplecarry-1576634849-638984844588185076.jpg')
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([id], [name]) VALUES (1, N'Vali')
INSERT [dbo].[Categories] ([id], [name]) VALUES (2, N'Balo')
INSERT [dbo].[Categories] ([id], [name]) VALUES (3, N'Túi Xách')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Colors] ON 

INSERT [dbo].[Colors] ([id], [product_id], [name], [color_code]) VALUES (7, 4, N'Black', N'#000000')
INSERT [dbo].[Colors] ([id], [product_id], [name], [color_code]) VALUES (8, 5, N'Pink', N'#FF99FF')
INSERT [dbo].[Colors] ([id], [product_id], [name], [color_code]) VALUES (9, 6, N'White', N'#ffffff')
SET IDENTITY_INSERT [dbo].[Colors] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Details] ON 

INSERT [dbo].[Order_Details] ([id], [order_id], [product_id], [quantity], [price], [color_id], [size_id], [created_at]) VALUES (16, 16, 4, 1, 330000, 7, 7, CAST(N'2025-11-12T23:11:59.0000000' AS DateTime2))
INSERT [dbo].[Order_Details] ([id], [order_id], [product_id], [quantity], [price], [color_id], [size_id], [created_at]) VALUES (17, 17, 4, 3, 330000, 7, 7, CAST(N'2025-11-12T23:32:23.0000000' AS DateTime2))
INSERT [dbo].[Order_Details] ([id], [order_id], [product_id], [quantity], [price], [color_id], [size_id], [created_at]) VALUES (18, 18, 7, 2, 300000, 11, NULL, CAST(N'2025-11-13T01:06:21.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Order_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([id], [user_id], [order_date], [status], [total_amount], [phone], [shipping_address], [created_at], [updated_at], [shipper_id], [assigned_at], [delivered_at], [delivery_note]) VALUES (16, 3, CAST(N'2025-11-12T23:11:59.0000000' AS DateTime2), N'Confirmed', 330000, N'0867323918', N'bến tre', CAST(N'2025-11-12T23:11:59.0000000' AS DateTime2), CAST(N'2025-11-12T23:12:39.0000000' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[Orders] ([id], [user_id], [order_date], [status], [total_amount], [phone], [shipping_address], [created_at], [updated_at], [shipper_id], [assigned_at], [delivered_at], [delivery_note]) VALUES (17, 2, CAST(N'2025-11-12T23:32:22.0000000' AS DateTime2), N'Shipped', 990000, N'19001009', N'quận 12', CAST(N'2025-11-12T23:32:22.0000000' AS DateTime2), CAST(N'2025-11-12T23:33:06.0000000' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[Orders] ([id], [user_id], [order_date], [status], [total_amount], [phone], [shipping_address], [created_at], [updated_at], [shipper_id], [assigned_at], [delivered_at], [delivery_note]) VALUES (18, 2, CAST(N'2025-11-13T01:06:21.0000000' AS DateTime2), N'Completed', 600000, N'19001006', N'hà nội', CAST(N'2025-11-13T01:06:21.0000000' AS DateTime2), CAST(N'2025-11-13T01:07:17.0000000' AS DateTime2), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([id], [order_id], [amount], [payment_method], [status], [transaction_id], [payment_date]) VALUES (16, 16, 330000, N'VNPay', N'Completed', N'15257096', CAST(N'2025-11-12T23:12:40.0000000' AS DateTime2))
INSERT [dbo].[Payments] ([id], [order_id], [amount], [payment_method], [status], [transaction_id], [payment_date]) VALUES (17, 17, 990000, N'COD', N'Pending', N'', CAST(N'2025-11-12T23:32:23.0000000' AS DateTime2))
INSERT [dbo].[Payments] ([id], [order_id], [amount], [payment_method], [status], [transaction_id], [payment_date]) VALUES (18, 18, 600000, N'COD', N'Pending', N'', CAST(N'2025-11-13T01:06:21.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_Images] ON 

INSERT [dbo].[Product_Images] ([id], [product_id], [image_url], [is_main], [sort_order]) VALUES (9, 4, N'/Uploads/products/balo-the-travel-star-foldable-and-lightweight-backpack-s-black-15884-01734593927-638985605354997670.jpg', 1, 1)
INSERT [dbo].[Product_Images] ([id], [product_id], [image_url], [is_main], [sort_order]) VALUES (10, 4, N'/Uploads/products/balo-the-travel-star-foldable-and-lightweight-backpack-s-black-15884-01734593938-638985605598775592.jpg', 0, 2)
INSERT [dbo].[Product_Images] ([id], [product_id], [image_url], [is_main], [sort_order]) VALUES (11, 4, N'/Uploads/products/balo-the-travel-star-foldable-and-lightweight-backpack-s-black-15884-01734593942-638985605727374570.jpg', 0, 3)
SET IDENTITY_INSERT [dbo].[Product_Images] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([id], [name], [description], [image_url], [original_price], [price], [stock], [sold], [category_id], [brandId], [is_active]) VALUES (4, N'Balo The Travel Star Foldable & Lightweight', NULL, N'/Uploads/products/balo-the-travel-star-foldable-and-lightweight-backpack-s-black-15884-01734593927-638985605354997670.jpg', 500000, 330000, 24, 1, 2, 3, 1)
INSERT [dbo].[Products] ([id], [name], [description], [image_url], [original_price], [price], [stock], [sold], [category_id], [brandId], [is_active]) VALUES (5, N'Vali Pisani Lani', NULL, N'/Uploads/products/-pisani-lani-tr608-20-s-baby-pink-13253-11743663154-638985661096442240.jpg', 1500000, 1300000, 8, 1, 1, 2, 1)
INSERT [dbo].[Products] ([id], [name], [description], [image_url], [original_price], [price], [stock], [sold], [category_id], [brandId], [is_active]) VALUES (6, N'Túi Xách The Travel Star Multi-use Bag with Shoes', NULL, N'/Uploads/products/tui-xach-the-travel-star-multi-use-bag-with-shoes-pocket-xl-khaki-15889-71734594963-638985672700912116.jpg', 670000, 500000, 23, 3, 3, 1, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Sizes] ON 

INSERT [dbo].[Sizes] ([id], [product_id], [name]) VALUES (7, 4, N'S')
INSERT [dbo].[Sizes] ([id], [product_id], [name]) VALUES (8, 5, N'S')
INSERT [dbo].[Sizes] ([id], [product_id], [name]) VALUES (29, 8, N'S')
SET IDENTITY_INSERT [dbo].[Sizes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [email], [phone], [password], [is_admin], [address], [created_at], [updated_at], [role]) VALUES (1, N'Administrator', N'admin@valimodern.com', N'0123456789', N'Admin@123', 1, N'Head Office - ValiModern HQ', CAST(N'2025-11-11T11:39:26.0000000' AS DateTime2), CAST(N'2025-11-11T11:39:26.0000000' AS DateTime2), N'admin')
INSERT [dbo].[Users] ([id], [username], [email], [phone], [password], [is_admin], [address], [created_at], [updated_at], [role]) VALUES (2, N'user', N'user@gmail.com', N'', N'123456', 0, N'', CAST(N'2025-11-11T16:21:26.0000000' AS DateTime2), CAST(N'2025-11-11T16:21:26.0000000' AS DateTime2), N'customer')
INSERT [dbo].[Users] ([id], [username], [email], [phone], [password], [is_admin], [address], [created_at], [updated_at], [role]) VALUES (3, N'thanhcho', N'thanhcho@gmail.com', NULL, N'123456', 0, N'bến tre', CAST(N'2025-11-11T16:43:01.0000000' AS DateTime2), CAST(N'2025-11-11T16:43:01.0000000' AS DateTime2), N'customer')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Colors_Product]    Script Date: 25/11/2025 2:20:21 CH ******/
CREATE NONCLUSTERED INDEX [IX_Colors_Product] ON [dbo].[Colors]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OD_Order]    Script Date: 25/11/2025 2:20:21 CH ******/
CREATE NONCLUSTERED INDEX [IX_OD_Order] ON [dbo].[Order_Details]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OD_Product]    Script Date: 25/11/2025 2:20:21 CH ******/
CREATE NONCLUSTERED INDEX [IX_OD_Product] ON [dbo].[Order_Details]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_ProductId_OrderId]    Script Date: 25/11/2025 2:20:21 CH ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_ProductId_OrderId] ON [dbo].[Order_Details]
(
	[product_id] ASC,
	[order_id] ASC
)
INCLUDE([quantity],[price]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_Shipper]    Script Date: 25/11/2025 2:20:21 CH ******/
CREATE NONCLUSTERED INDEX [IX_Orders_Shipper] ON [dbo].[Orders]
(
	[shipper_id] ASC
)
WHERE ([shipper_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_Status]    Script Date: 25/11/2025 2:20:21 CH ******/
CREATE NONCLUSTERED INDEX [IX_Orders_Status] ON [dbo].[Orders]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_User]    Script Date: 25/11/2025 2:20:21 CH ******/
CREATE NONCLUSTERED INDEX [IX_Orders_User] ON [dbo].[Orders]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_Order]    Script Date: 25/11/2025 2:20:21 CH ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Order] ON [dbo].[Payments]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_Status]    Script Date: 25/11/2025 2:20:21 CH ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Status] ON [dbo].[Payments]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PImages_Product]    Script Date: 25/11/2025 2:20:21 CH ******/
CREATE NONCLUSTERED INDEX [IX_PImages_Product] ON [dbo].[Product_Images]
(
	[product_id] ASC,
	[sort_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_Brand]    Script Date: 25/11/2025 2:20:21 CH ******/
CREATE NONCLUSTERED INDEX [IX_Products_Brand] ON [dbo].[Products]
(
	[brandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_Category]    Script Date: 25/11/2025 2:20:21 CH ******/
CREATE NONCLUSTERED INDEX [IX_Products_Category] ON [dbo].[Products]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sizes_Product]    Script Date: 25/11/2025 2:20:21 CH ******/
CREATE NONCLUSTERED INDEX [IX_Sizes_Product] ON [dbo].[Sizes]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 25/11/2025 2:20:21 CH ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order_Details] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Order_Details] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[Product_Images] ADD  DEFAULT ((0)) FOR [is_main]
GO
ALTER TABLE [dbo].[Product_Images] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [sold]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__is_admin__38996AB5]  DEFAULT ((0)) FOR [is_admin]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__created_a__398D8EEE]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__updated_a__3A81B327]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Role]  DEFAULT ('customer') FOR [role]
GO
ALTER TABLE [dbo].[Colors]  WITH CHECK ADD  CONSTRAINT [FK_Colors_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Colors] CHECK CONSTRAINT [FK_Colors_Products]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_OD_Colors] FOREIGN KEY([color_id])
REFERENCES [dbo].[Colors] ([id])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_OD_Colors]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_OD_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_OD_Orders]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_OD_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_OD_Products]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_OD_Sizes] FOREIGN KEY([size_id])
REFERENCES [dbo].[Sizes] ([id])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_OD_Sizes]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Shipper] FOREIGN KEY([shipper_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Shipper]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Orders]
GO
ALTER TABLE [dbo].[Product_Images]  WITH CHECK ADD  CONSTRAINT [FK_PImages_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product_Images] CHECK CONSTRAINT [FK_PImages_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Brands] FOREIGN KEY([brandId])
REFERENCES [dbo].[Brands] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Brands]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Sizes]  WITH CHECK ADD  CONSTRAINT [FK_Sizes_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sizes] CHECK CONSTRAINT [FK_Sizes_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK_Orders_Status] CHECK  (([status]=N'Cancelled' OR [status]=N'Completed' OR [status]=N'Shipped' OR [status]=N'Confirmed' OR [status]=N'Pending'))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK_Orders_Status]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments_Method] CHECK  (([payment_method]=N'PayPal' OR [payment_method]=N'VNPAY' OR [payment_method]=N'COD'))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_Method]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments_Status] CHECK  (([status]=N'Refunded' OR [status]=N'Failed' OR [status]=N'Completed' OR [status]=N'Pending'))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_Status]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Product_Sold_NonNegative] CHECK  (([sold]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Product_Sold_NonNegative]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([role]='shipper' OR [role]='admin' OR [role]='customer'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
/****** Object:  StoredProcedure [dbo].[sp_RecalculateProductSold]    Script Date: 25/11/2025 2:20:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RecalculateProductSold]
    @ProductId INT = NULL  -- NULL = recalculate ALL products
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        IF @ProductId IS NULL
        BEGIN
            -- Recalculate ALL products
            PRINT 'Recalculating sold count for ALL products...';
            
            UPDATE p
            SET p.sold = ISNULL(actual_sold.total_quantity, 0)
            FROM Products p
            LEFT JOIN (
                SELECT 
                    od.product_id,
                    SUM(od.quantity) as total_quantity
                FROM Order_Details od
                INNER JOIN Orders o ON od.order_id = o.id
                WHERE o.status = 'Completed'
                GROUP BY od.product_id
            ) actual_sold ON p.id = actual_sold.product_id;
            
            PRINT 'Recalculation complete for all products.';
        END
        ELSE
        BEGIN
            -- Recalculate specific product
            PRINT 'Recalculating sold count for Product ID: ' + CAST(@ProductId AS VARCHAR(10));
            
            DECLARE @ActualSold INT;
            
            SELECT @ActualSold = ISNULL(SUM(od.quantity), 0)
            FROM Order_Details od
            INNER JOIN Orders o ON od.order_id = o.id
            WHERE od.product_id = @ProductId 
              AND o.status = 'Completed';
            
            UPDATE Products
            SET sold = @ActualSold
            WHERE id = @ProductId;
            
            PRINT 'Product ID ' + CAST(@ProductId AS VARCHAR(10)) + ' sold count updated to: ' + CAST(@ActualSold AS VARCHAR(10));
        END
        
        COMMIT TRANSACTION;
        
        -- Return summary
        IF @ProductId IS NULL
        BEGIN
            SELECT 
                'Summary' as info,
                COUNT(*) as total_products,
                SUM(sold) as total_sold_count,
                AVG(sold) as avg_sold_per_product
            FROM Products;
        END
        ELSE
        BEGIN
            SELECT 
                id,
                name,
                sold,
                stock,
                price
            FROM Products
            WHERE id = @ProductId;
        END
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorLine INT = ERROR_LINE();
        
        RAISERROR('Error in sp_RecalculateProductSold: %s (Line %d)', 16, 1, @ErrorMessage, @ErrorLine);
    END CATCH
END;
GO
USE [master]
GO
